.btn1 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.120em .40em;
    border: 3px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    }

    .btn1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: red;
    z-index: -1;
    }
    .btn1:hover, button:focus {
    color: white;
    }

    .btn1:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    }

    .btn1:active {
    transform: scale(0.9);
    }